.main-content {
    .main-content-img {
        transition: .2s ease-out;

        &:hover {
            transform: translate3d(0, -4px, 0); 
            box-shadow: 0 8px 24px rgba(0, 0, 0, .3);
        }
    }
}